.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #454f5b;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

h3 {
  margin-top: 0px;
  margin-bottom: 12px;
  color: #212b36;
  font-size: 1.375em;
  line-height: 1.364em;
  font-weight: 400;
  letter-spacing: -0.2px;
}

a {
  text-decoration: underline;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Playfair Display', sans-serif;
  color: #212b36;
  font-size: 2.8em;
  line-height: 1.28em;
  font-weight: 700;
}

.h1.white {
  color: #fff;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #212b36;
  font-size: 1.375em;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.h3.white {
  color: #fff;
  font-size: 1.375em;
  letter-spacing: 0px;
}

.link {
  border-bottom: 2px solid rgba(118, 16, 190, 0);
  opacity: 1;
  -webkit-transition: all 200ms ease, border-color 200ms ease, border-width 200ms ease;
  transition: all 200ms ease, border-color 200ms ease, border-width 200ms ease;
  color: #7610be;
  font-weight: 400;
  text-decoration: none;
}

.link:hover {
  border-bottom: 2px solid #7610be;
  opacity: 1;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  text-decoration: none;
}

.link.white {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
}

.link.white:hover {
  border-bottom-style: solid;
  border-bottom-color: #fff;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.footer {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
  background-image: linear-gradient(180deg, #000, #fff);
}

.footer.p-gradient {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 56px;
  padding-bottom: 32px;
  border-radius: 0px;
  background-image: radial-gradient(circle farthest-corner at 0% 50%, #29156f 32%, #7610be);
  white-space: normal;
}

.text-field {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.cta {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 172, 200, 0.9);
  border-radius: 0px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 172, 200, 0.9);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
}

.cta:hover {
  background-color: rgba(0, 172, 200, 0.9);
  color: hsla(0, 0%, 100%, 0.9);
}

.h2 {
  position: relative;
  width: auto;
  margin: 0px 0px 12px;
  font-family: 'Open Sans', sans-serif;
  color: #212b36;
  font-size: 2em;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.h2.white {
  color: #fff;
  font-weight: 600;
}

.paragraph {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #454f5b;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
  list-style-type: square;
}

.paragraph.white {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: 300;
}

.div-32 {
  position: static;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.column-2 {
  position: static;
}

.h4 {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #637381;
  font-size: 1.375em;
  line-height: 1.364em;
  font-weight: 300;
  letter-spacing: -0.2px;
  text-transform: none;
}

.body {
  overflow: visible;
  font-family: 'Open Sans', sans-serif;
  color: #454f5b;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.body.footer {
  padding: 0px 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: none;
  color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

.list-item {
  margin-bottom: 4px;
  font-size: 1em;
  list-style-type: disc;
}

.list-item.ol {
  margin-bottom: 8px;
  list-style-type: decimal;
}

.h5 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: 'Open Sans', sans-serif;
  color: #212b36;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: none;
}

.button {
  margin: 32px 0px 0px;
  padding: 12px 40px;
  border-style: none;
  border-width: 2px;
  border-color: #7610be;
  border-radius: 100px;
  background-color: #7610be;
  box-shadow: none;
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  border-style: none;
  background-color: #7610be;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
}

.h6 {
  font-family: 'Open Sans', sans-serif;
  color: #999;
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logo {
  position: static;
  left: 60px;
  top: 0px;
  z-index: 9999;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.stats {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 300;
  list-style-type: none;
}

.navbar {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
}

.nav-link {
  display: block;
  margin: 0px;
  padding: 0px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 200ms ease, border-width 200ms ease;
  transition: border-color 200ms ease, border-width 200ms ease;
  color: #7610be;
  font-size: 0.8em;
  line-height: 2.5em;
  font-weight: 600;
}

.nav-link:hover {
  border-style: none none solid;
  border-width: 0px 0px 2px;
  border-color: transparent transparent #7610be;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
  color: #7610be;
  font-weight: 600;
}

.nav-link.w--current {
  color: #7610be;
}

.nav-menu {
  position: fixed;
  left: auto;
  top: 4%;
  right: 4%;
  bottom: auto;
  z-index: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 8px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
  line-height: 2.4em;
}

.arrow {
  display: inline-block;
  float: none;
  clear: both;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #00acc8;
  font-size: 1em;
  font-weight: 600;
  text-align: right;
  text-decoration: none;
  text-transform: none;
}

.arrow:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.problem {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #334157;
  color: rgba(255, 255, 255, 0.9);
}

.wizard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 32px;
  padding-bottom: 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.caption {
  margin-top: 8px;
  font-family: 'Open Sans', sans-serif;
  color: #637381;
  font-size: 0.7em;
  line-height: 1.7em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: none;
}

.caption.inverse {
  margin-bottom: 32px;
  color: hsla(0, 0%, 93.3%, 0.8);
  font-size: 0.6em;
  line-height: 1.6em;
  text-align: left;
}

.caption.bjn {
  margin-right: 0px;
  margin-left: 155px;
  padding-left: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.div-24 {
  margin-top: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  text-transform: none;
}

.shn-recs {
  display: block;
  margin: 10px auto 0px;
  float: none;
  clear: none;
  text-align: left;
}

.slider-icon {
  color: #7610be;
}

.slider-icon.right {
  opacity: 1;
  color: #7610be;
}

.slider-icon.left {
  opacity: 1;
  color: #7610be;
}

.slider-icon.transparent {
  opacity: 0;
}

.slider {
  display: block;
  height: 540px;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 32px;
}

.slider.white {
  height: auto;
  margin-top: 0px;
  background-color: #fff;
}

.slide-nav {
  margin-top: 0px;
  padding-top: 10px;
  opacity: 0.4;
  line-height: 32px;
}

.slide {
  padding-right: 80px;
  padding-left: 80px;
  text-align: center;
}

.slider-text {
  margin-top: 12px;
  margin-right: 80px;
  margin-left: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #454f5b;
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 300;
  text-align: left;
}

.box-shadow {
  position: relative;
  margin-left: 0px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  text-align: center;
}

.box-shadow.shn-darkcolor {
  margin-left: 160px;
  padding-left: 0px;
}

.box-shadow.shn-lightcolor {
  margin-top: 140px;
  margin-right: 160px;
  margin-bottom: 160px;
  padding-bottom: 0px;
}

.box-shadow.shn-darktype {
  margin-top: -220px;
}

.intro-block {
  margin: 32px auto 88px;
  padding-bottom: 0px;
  border-radius: 0px;
  background-color: transparent;
}

.about {
  padding-top: 56px;
  padding-bottom: 80px;
  background-color: #f9fafb;
}

.scroll-down {
  width: 1px;
  height: 180px;
  margin-left: 40px;
  background-color: #919eab;
}

.profile {
  display: inline-block;
  margin-top: -604px;
  margin-left: 60px;
  border-radius: 20px;
}

.profile-pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -110px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.p-gradient {
  width: 380px;
  height: 500px;
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 0px;
  border-radius: 20px;
  background-color: #6310be;
  background-image: -webkit-gradient(linear, left top, right top, from(#29156f), to(#7610be));
  background-image: linear-gradient(90deg, #29156f, #7610be);
}

.container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  text-align: right;
}

.call-to-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.project-image {
  padding-right: 0px;
  padding-left: 0px;
}

.project-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-info {
  position: static;
  top: auto;
  width: 75%;
  max-width: 488px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 14px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.side-projects {
  margin-top: 120px;
  margin-bottom: 200px;
  padding-bottom: 0px;
}

.intro {
  margin-top: 120px;
}

.intro.project {
  margin-top: 120px;
  margin-bottom: 80px;
}

.project-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.profile-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.project-intro {
  margin-top: 24px;
}

.section-default {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.section-lg {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f9fafb;
}

.list {
  margin-top: 16px;
  margin-bottom: 32px;
  font-weight: 300;
}

.rule-builder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.improvement-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 56px;
  padding-bottom: 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.improvement-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-40 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.div-80 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-nav {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-nav.p-gradient {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-image: radial-gradient(circle farthest-corner at 0% 50%, #29156f 32%, #7610be);
  color: #fff;
  font-size: 1em;
  line-height: 3.2em;
  font-weight: 600;
  white-space: normal;
}

.footer-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  line-height: 3.2em;
  text-align: center;
  text-decoration: none;
}

.footer-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-button:active {
  background-color: rgba(0, 0, 0, 0.36);
}

.footerlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 8px;
  padding-left: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-bottom: 0px none rgba(118, 16, 190, 0);
  opacity: 1;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.footerlink:hover {
  border-bottom: 0px none #7610be;
  opacity: 1;
  text-decoration: none;
}

.footerlink.arrow {
  border-bottom-style: none;
}

.footerlink.arrow:hover {
  border-bottom-style: none;
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block {
  display: block;
  margin-left: 8px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #7610be;
  font-size: 1em;
  line-height: 1.5em;
}

.cs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.cs-old {
  position: static;
  margin-bottom: 56px;
  padding-bottom: 0px;
  float: right;
  clear: both;
}

.cs-illustrations {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 24px auto;
  grid-template-rows: auto auto;
  white-space: normal;
}

.footer-block {
  margin-top: 24px;
  margin-bottom: 24px;
}

.cs-components {
  width: 100%;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bj-button-contrast {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 0px;
  padding-right: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.bj-keyboard-nav {
  overflow: hidden;
  padding-right: 0px;
  padding-left: 0px;
}

.blockquote {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 10px 20px;
  border-top: 0px none #000;
  border-left: 5px solid #7610be;
  font-family: 'Playfair Display', sans-serif;
  color: #454f5b;
  font-size: 1.375em;
  line-height: 1.364em;
  font-weight: 400;
}

.blockquote-name {
  display: inline-block;
  padding-top: 22px;
  font-family: Lato, sans-serif;
  color: #999;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cs-questionnaire {
  display: block;
  margin: 0px auto;
  float: none;
  clear: none;
  text-align: left;
}

.grid {
  grid-column-gap: 16px;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.cs-overview {
  width: 1160px;
}

.white-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition: border-width 200ms ease, border-color 200ms ease;
  transition: border-width 200ms ease, border-color 200ms ease;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.white-link:hover {
  border-bottom: 2px solid #fff;
}

html.w-mod-js *[data-ix="fade-down"] {
  opacity: 0;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

html.w-mod-js *[data-ix="fade-down-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

html.w-mod-js *[data-ix="scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

@media screen and (max-width: 991px) {
  .footer.p-gradient {
    display: block;
  }
  .body {
    font-size: 20px;
  }
  .nav-link {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 2em;
  }
  .nav-menu {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
  }
  .icon {
    color: #00acc8;
  }
  .menu-button {
    background-color: #fff;
  }
  .menu-button.w--open {
    background-color: #fff;
  }
  .wizard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .caption {
    font-size: 0.7em;
  }
  .caption.inverse {
    font-size: 0.7em;
    line-height: 1.7em;
  }
  .caption.bjn {
    margin-left: 0px;
  }
  .shn-recs {
    margin-top: 24px;
    margin-bottom: 0px;
  }
  .slider-icon.right {
    display: block;
  }
  .slider-icon.left {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .slider {
    height: 580px;
  }
  .slider-text {
    margin-right: 45px;
    margin-left: 45px;
  }
  .box-shadow {
    margin-bottom: 24px;
  }
  .box-shadow.shn-darkcolor {
    margin-left: 40px;
  }
  .box-shadow.shn-lightcolor {
    margin-top: 80px;
    margin-right: 40px;
    margin-bottom: 220px;
  }
  .box-shadow.shn-darktype {
    margin-top: -200px;
  }
  .intro-block {
    margin-bottom: 44px;
  }
  .about {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 40px;
  }
  .profile {
    margin-top: -604px;
  }
  .profile-pic {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -155px;
    margin-bottom: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .social-links {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .project-image {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .project-row {
    display: block;
    margin-bottom: 56px;
  }
  .project-info {
    width: 80%;
    max-width: 620px;
    margin-top: 24px;
    margin-left: 10px;
  }
  .project-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .profile-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .section-default {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-lg {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .brand.w--current {
    display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .rule-builder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .improvement-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .improvement-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .cs-illustrations {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .nav-div {
    padding: 12px 16px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .illustrations {
    overflow: hidden;
  }
  .cs-questionnaire {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .h1 {
    margin-left: 10px;
    font-size: 2.8em;
  }
  .h1.white {
    font-size: 2.8em;
    line-height: 1.25em;
  }
  .h3 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.375em;
    line-height: 1.364em;
    letter-spacing: -0.2px;
  }
  .h3.white {
    letter-spacing: 0px;
  }
  .footer {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer.p-gradient {
    display: block;
    width: auto;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .h2 {
    margin-right: 10px;
    margin-bottom: 12px;
    margin-left: 10px;
    padding-left: 0px;
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 600;
  }
  .paragraph {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    color: #212b36;
  }
  .div-32 {
    margin: 0px;
  }
  .h4 {
    margin-right: 10px;
    margin-left: 10px;
    color: #454f5b;
    font-size: 1.375em;
    font-weight: 300;
    letter-spacing: 0px;
  }
  .body {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
  .body.footer {
    line-height: 64px;
  }
  .list-item {
    line-height: 1.5em;
  }
  .h5 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1em;
    font-weight: 600;
  }
  .button {
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .h6 {
    margin-right: 10px;
    margin-left: 10px;
    line-height: 1.5em;
  }
  .logo {
    margin-left: 10px;
  }
  .navbar {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .nav-link {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1em;
    line-height: 2em;
  }
  .nav-menu {
    margin-right: 20px;
    background-color: transparent;
  }
  .arrow {
    margin-right: 0px;
    margin-left: 0px;
  }
  .wizard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .caption {
    font-size: 0.75em;
    line-height: 1.6em;
  }
  .caption.inverse {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0.75em;
  }
  .caption.bjn {
    margin-left: 0px;
    font-size: 0.75em;
    line-height: 1.6em;
  }
  .bold {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 1em;
    font-weight: 600;
  }
  .shn-recs {
    margin-top: 24px;
  }
  .slider-icon.right {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .slider-icon.left {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .slider {
    height: 500px;
  }
  .slide {
    font-size: 16px;
    line-height: 24px;
  }
  .slider-text {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
  }
  .scroll-down {
    height: 180px;
  }
  .social-links {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .call-to-action {
    margin-top: 12px;
    margin-left: 10px;
    font-size: 1em;
  }
  .project-info {
    width: 100%;
    margin-top: 12px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .side-projects {
    margin-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .intro {
    margin-top: 60px;
  }
  .intro.project {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .project-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  .section-default {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .section-lg {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .list {
    font-size: 1em;
    line-height: 1.4em;
  }
  .rule-builder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .improvement-1 {
    padding-top: 28px;
    padding-bottom: 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .improvement-2 {
    padding-top: 28px;
    padding-bottom: 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer-nav {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer-container {
    display: block;
  }
  .cs-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .cs-illustrations {
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .nav-div {
    height: auto;
    padding: 12px 16px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .cs-components {
    padding-top: 16px;
  }
  .bj-button-contrast {
    margin-top: 24px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .blockquote {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-left-width: 5px;
  }
  .blockquote-name {
    font-size: 12px;
    line-height: 16px;
  }
  .cs-questionnaire {
    margin-top: 12px;
  }
  .white-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
  .footer-content {
    padding-right: 20px;
    padding-left: 10px;
  }
  .margin {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .h1 {
    margin-right: 10px;
    font-size: 2.8em;
    line-height: 1.25em;
  }
  .h1.white {
    font-size: 2.8em;
    line-height: 1.25em;
  }
  .h3 {
    font-size: 1.25em;
    line-height: 1.4em;
    letter-spacing: -0.2px;
  }
  .h3.white {
    font-size: 1.25em;
  }
  .link.white {
    -webkit-transition: border-width 200ms ease;
    transition: border-width 200ms ease;
    line-height: 30px;
  }
  .footer {
    position: static;
    bottom: -12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer.p-gradient {
    background-image: radial-gradient(circle farthest-corner at 0% 50%, #29156f, #7610be);
  }
  .h2 {
    margin-bottom: 4px;
  }
  .paragraph {
    width: auto;
    line-height: 1.5em;
    font-weight: 300;
  }
  .div-32 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .column-2 {
    padding-left: 10px;
  }
  .body {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body.footer {
    padding-right: 12px;
    padding-left: 12px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    line-height: 20px;
  }
  .h5 {
    margin-left: 10px;
  }
  .button {
    margin-bottom: 20px;
  }
  .h6 {
    margin-right: 10px;
    margin-left: 10px;
  }
  .navbar {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .nav-link {
    font-size: 1em;
  }
  .nav-menu {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
    clear: none;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: transparent;
  }
  .arrow {
    margin-right: 0px;
    margin-left: 0px;
  }
  .wizard {
    display: block;
  }
  .caption {
    font-size: 0.75em;
  }
  .caption.inverse {
    font-size: 0.75em;
    line-height: 1.6em;
    font-weight: 400;
  }
  .caption.bjn {
    margin-right: 10px;
    margin-left: 10px;
  }
  .bold {
    margin-left: 0px;
  }
  .slider-icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
    font-size: 0.6875em;
  }
  .slider-icon.right {
    margin-right: 5px;
    padding-left: 0px;
    font-size: 0.625em;
  }
  .slider-icon.left {
    margin-left: 5px;
    font-size: 0.625em;
  }
  .slider {
    height: 440px;
  }
  .slide {
    padding-right: 45px;
    padding-left: 45px;
  }
  .box-shadow {
    overflow: hidden;
  }
  .box-shadow.shn-darkcolor {
    overflow: hidden;
    margin-left: 0px;
  }
  .box-shadow.shn-lightcolor {
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .box-shadow.shn-darktype {
    overflow: hidden;
    margin-top: 0px;
  }
  .intro-block {
    margin-top: 16px;
    margin-bottom: 40px;
  }
  .scroll-down {
    height: 80px;
  }
  .profile {
    margin-top: -604px;
    margin-left: 60px;
  }
  .profile-pic {
    margin-top: -200px;
    margin-bottom: -80px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -webkit-transform: translate(-25px, 0px) scale(0.63);
    -ms-transform: translate(-25px, 0px) scale(0.63);
    transform: translate(-25px, 0px) scale(0.63);
  }
  .social-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .call-to-action {
    margin-top: 16px;
  }
  .project-info {
    width: 100%;
    max-width: 620px;
    margin-top: 16px;
    margin-left: 0px;
  }
  .side-projects {
    margin-bottom: 200px;
  }
  .intro {
    margin-top: 60px;
  }
  .intro.project {
    margin-top: 60px;
  }
  .project-grid {
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .profile-col {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-default {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .list {
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 40px;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
  }
  .shn-ds {
    display: block;
  }
  .rule-builder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .improvement-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .improvement-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .footer-nav {
    position: static;
    bottom: -12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer-nav.p-gradient {
    background-image: radial-gradient(circle farthest-corner at 0% 50%, #29156f, #7610be);
  }
  .text-block {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .cs-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cs-illustrations {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .blockquote {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-left-width: 5px;
  }
  .blockquote-name {
    font-size: 12px;
    line-height: 16px;
  }
  .column-3 {
    margin-top: 24px;
  }
  .white-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1em;
    line-height: 30px;
  }
}

#w-node-1023afd0c386-763a85ee {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-d635ae67830b-763a85ee {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-bf86f691a15c-763a85ee {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-13f397ca684e-763a85ee {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0892604b3a42-763a85ee {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

#w-node-8c2009119b48-763a85ee {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-777f1946b79f-763a85ee {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-a9a88b0e5bb0-573a85f0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-9059240e7f4b-573a85f0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 991px) {
  #w-node-d635ae67830b-763a85ee {
    -ms-grid-column-align: end;
    justify-self: end;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

@media screen and (max-width: 767px) {
  #w-node-0892604b3a42-763a85ee {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-8c2009119b48-763a85ee {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -webkit-box-ordinal-group: 10000;
    -webkit-order: 9999;
    -ms-flex-order: 9999;
    order: 9999;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-777f1946b79f-763a85ee {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-0892604b3a42-763a85ee {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-8c2009119b48-763a85ee {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -webkit-box-ordinal-group: 10000;
    -webkit-order: 9999;
    -ms-flex-order: 9999;
    order: 9999;
  }
  #w-node-777f1946b79f-763a85ee {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

